@font-face {
    font-family: 'DrukWide';
    src: url('../../assets/fonts/DrukWide-Bold-Desktop.otf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: 'DelaGothicOne';
    src: url('../../assets/fonts/DelaGothicOne-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Circle-Light';
    src: url('../../assets/fonts/Circe-Light.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Circle-Regular';
    src: url('../../assets/fonts/Circe-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Circle-Bold';
    src: url('../../assets/fonts/Circe-Bold.ttf') format('truetype');
    font-weight: bold;
    font-display: swap;
}
